.at-esimlu8-we,
.we-are-not,
.with-our-services {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.at-the-heart,
.join-us-in {
  margin: 0;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.about-content {
  width: 1680px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.about-content,
.about-content-wrapper,
.about-us {
  display: flex;
  align-items: flex-start;
}
.about-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "Open Sans";
}
.about-us {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .about-us {
    gap: 32px;
  }
}
@media screen and (max-width: 725px) {
  .about-us {
    gap: 16px;
  }
}
