.indulge-your-furry,
.your-cart {
  width: 728px;
  position: relative;
  max-width: 100%;
}
.indulge-your-furry {
  height: 24px;
  line-height: 24px;
  display: none;
}
.your-cart {
  line-height: 120%;
  font-weight: 700;
  display: inline-block;
  flex-shrink: 0;
}
.body,
.cart,
.content {
  display: flex;
  align-items: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.body,
.cart {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.body {
  align-self: stretch;
  gap: 48px;
  max-width: 100%;
  font-size: 32px;
  color: #000;
  font-family: "Open Sans";
}
.cart {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  font-size: 16px;
  color: #010007;
  font-family: "Nunito Sans";
}
@media screen and (max-width: 850px) {
  .your-cart {
    font-size: 26px;
    line-height: 31px;
  }
  .body {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .your-cart {
    font-size: 19px;
    line-height: 23px;
  }
}
