.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #000;
  display: none;
  max-width: 100%;
}
.product {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.product-title {
  width: 253px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price,
.quantity {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.quantity {
  min-width: 77px;
}
.pricing-details {
  width: 275px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.total {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.header1,
.item-total {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.header1 {
  border-radius: 5px;
  background-color: #000;
  flex-direction: row;
  padding: 15px 38px 13px;
  box-sizing: border-box;
  gap: 136px;
}
.item-total {
  flex-direction: column;
  gap: 36px;
}
.cart-item-child {
  height: 102px;
  width: 150px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.discount-20-off1,
.travels {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.travels {
  font-weight: 600;
}
.discount-20-off1 {
  font-size: 16px;
}
.travels-parent {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.b1,
.credits2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.b1 {
  font-weight: 600;
  min-width: 67px;
  white-space: nowrap;
}
.credits2 {
  font-weight: 700;
  font-family: Almarai;
  min-width: 82px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus {
  width: 16px;
  height: 16px;
  position: relative;
}
.icon-plus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.div {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 8px;
}
.frame-input {
  margin: 0;
  height: 19px;
  width: 16px;
}
.frame-div {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 9px 7px 7px;
  gap: 20px;
}
.hourly1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
}
.frame-child {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.hourly-parent {
  border-radius: 8px;
  background-color: #000;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
  font-family: "DM Sans";
}
.frame-container,
.frame-group,
.hourly-parent {
  display: flex;
  align-items: flex-start;
}
.frame-container {
  width: 112px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  font-size: 16px;
  color: #000;
  font-family: Almarai;
}
.frame-group {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 93px 0 0;
  box-sizing: border-box;
  min-width: 194px;
  max-width: 100%;
  gap: 20px;
}
.b2 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 67px;
  white-space: nowrap;
}
.cart-item {
  width: 896px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  max-width: 100%;
  color: #010007;
}
.separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #545454;
  box-sizing: border-box;
}
.button,
.button1 {
  height: 54px;
  width: 121px;
}
.button1 {
  width: 131px;
}
.action-buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.actions,
.cart-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  align-self: stretch;
  gap: 35px;
}
.cart-items {
  flex: 1;
  gap: 46px;
  min-width: 640px;
  max-width: 100%;
}
.checkout-details1 {
  position: relative;
  line-height: 29px;
  font-weight: 700;
}
.header-container,
.header2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header2 {
  flex: 1;
  border-radius: 5px;
  background-color: #000;
  overflow: hidden;
  padding: 16px 24px;
}
.header-container {
  align-self: stretch;
  padding: 0 0 4px;
  font-size: 24px;
  color: #fff;
}
.cart-subtotal,
.subtotal-total-placeholder {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 115px;
}
.subtotal-total-placeholder {
  min-width: 67px;
  white-space: nowrap;
}
.subtotal-total,
.subtotal-total-values {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.subtotal-total-values {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.subtotal-total {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 31px 0 25px;
  box-sizing: border-box;
}
.other-taxes,
.shipping-handling {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.other-taxes {
  display: inline-block;
  min-width: 106px;
}
.tax-types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.b3,
.b4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 47px;
  white-space: nowrap;
}
.tax-types1,
.taxes,
.taxes-wrapper {
  display: flex;
  align-items: flex-start;
}
.tax-types1 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.taxes,
.taxes-wrapper {
  flex-direction: row;
}
.taxes {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.taxes-wrapper {
  justify-content: flex-start;
  padding: 0 29px 0 25px;
}
.taxes-separator,
.taxes-separator-wrapper,
.taxes-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.taxes-separator {
  flex: 1;
  position: relative;
  border-top: 1px solid #dedede;
}
.taxes-separator-wrapper {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.b5,
.grand-total {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 103px;
}
.b5 {
  text-align: right;
  min-width: 67px;
  white-space: nowrap;
}
.grand-total-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.subtotal-total1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 25px;
}
.cart-details1,
.checkout-details,
.subtotal-total1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.checkout-details {
  width: 504px;
  border-radius: 5px;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 25px;
  gap: 32px;
  min-width: 504px;
  color: #010007;
}
.cart-details1 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 120px;
  gap: 191px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1525px) {
  .checkout-details {
    flex: 1;
  }
  .cart-details1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .header1 {
    flex-wrap: wrap;
    gap: 68px;
  }
  .cart-items {
    min-width: 100%;
  }
  .cart-details1 {
    gap: 95px;
    padding: 78px 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .item-total {
    gap: 18px;
  }
  .cart-item {
    flex-wrap: wrap;
  }
  .actions {
    gap: 17px;
  }
  .cart-items {
    gap: 23px;
  }
  .checkout-details {
    gap: 16px;
    min-width: 100%;
  }
  .cart-details1 {
    gap: 48px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header1 {
    gap: 34px;
  }
  .frame-group {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .action-buttons,
  .frame-group {
    flex-wrap: wrap;
  }
  .checkout-details1 {
    font-size: 19px;
    line-height: 23px;
  }
  .grand-total-parent,
  .subtotal-total-values,
  .taxes {
    flex-wrap: wrap;
  }
  .cart-details1 {
    padding-top: 51px;
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
