.internet-2-icon3 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: contain;
}
.simul87 {
  position: relative;
  line-height: 53px;
}
.logo3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-family: "DM Sans";
}
.consumers-to-find3,
.simul8-is-a3,
.their-favorite-e-commerce3 {
  margin: 0;
}
.simul8-is-a-container3 {
  position: relative;
  line-height: 19.5px;
}
.pacific-coast-hwy4,
.simlu8-connect-llc3 {
  margin: 0;
}
.simlu8-connect-llc-container3 {
  position: relative;
  line-height: 19.5px;
}
.frame-wrapper5,
.frame-wrapper6,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group-div {
  flex-direction: column;
  gap: 38px;
}
.frame-wrapper5,
.frame-wrapper6 {
  flex-direction: row;
}
.frame-wrapper5 {
  flex-direction: column;
  padding: 46.7px 0 0;
  box-sizing: border-box;
  color: #c1bca8;
}
.quick-links3 {
  position: relative;
  font-size: 15px;
  line-height: 22.5px;
  color: #c1bca8;
  display: inline-block;
  min-width: 80px;
}
.link-about3,
.link-blog3,
.link-contact3,
.link-destinations3,
.link-shop3 {
  position: relative;
  text-decoration: underline;
  line-height: 19.5px;
  color: inherit;
  display: inline-block;
  min-width: 31.3px;
}
.link-about3,
.link-blog3,
.link-contact3,
.link-destinations3 {
  min-width: 27px;
}
.link-about3,
.link-contact3,
.link-destinations3 {
  min-width: 37px;
}
.link-contact3,
.link-destinations3 {
  min-width: 47px;
}
.link-destinations3 {
  min-width: 76.3px;
}
.svg-icon3 {
  width: 18px;
  height: 18px;
  position: relative;
}
.svg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.5px 0 0;
}
.div2 {
  position: relative;
  line-height: 27px;
  white-space: nowrap;
}
.frame-parent433,
.frame-wrapper7,
.quick-links-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent433 {
  flex-direction: row;
  gap: 9.8px;
  font-size: 18px;
  color: #fffefd;
}
.frame-wrapper7,
.quick-links-container {
  flex-direction: column;
}
.quick-links-container {
  gap: 10px;
}
.frame-wrapper7 {
  padding: 11px 0 0;
}
.regions3 {
  position: relative;
  font-size: 15px;
  line-height: 22.5px;
  color: #c1bca8;
  display: inline-block;
  min-width: 55.3px;
}
.link-esim36 {
  color: inherit;
  display: inline-block;
  min-width: 98px;
}
.link-esim36,
.link-esim37,
.link-esim38,
.link-esim39 {
  position: relative;
  text-decoration: underline;
  line-height: 19.5px;
}
.link-esim37 {
  display: inline-block;
  min-width: 79.3px;
}
.link-esim38,
.link-esim39 {
  white-space: nowrap;
}
.link-esim40,
.link-esim41,
.link-esim42 {
  position: relative;
  text-decoration: underline;
  line-height: 19.5px;
  display: inline-block;
  min-width: 104px;
}
.link-esim41,
.link-esim42 {
  min-width: 89px;
}
.link-esim42 {
  min-width: 125px;
}
.regions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.countries3 {
  position: relative;
  font-size: 15px;
  line-height: 22.5px;
  color: #c1bca8;
  display: inline-block;
  min-width: 68px;
}
.link-esim43,
.link-esim44 {
  position: relative;
  text-decoration: underline;
  line-height: 19.5px;
  display: inline-block;
}
.link-esim43 {
  color: inherit;
  min-width: 79.2px;
}
.link-esim44 {
  min-width: 88.2px;
}
.link-esim45 {
  display: inline-block;
  min-width: 100.2px;
}
.link-esim45,
.link-esim46,
.link-esim47 {
  position: relative;
  text-decoration: underline;
  line-height: 19.5px;
}
.link-esim46 {
  display: inline-block;
  min-width: 116px;
}
.link-esim47 {
  white-space: nowrap;
}
.countries-group {
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.countries-group,
.frame-parent432,
.frame-wrapper8 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 29.5px 0 0;
}
.frame-parent432 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  font-size: 13px;
  color: #988686;
}
.privacy-policy3,
.refunds-policy3,
.terms-conditions3 {
  text-decoration: underline;
  color: #a2b5b8;
}
.simul8-privacy-policy-terms-container7 {
  width: 100%;
}
.simul8-privacy-policy-terms-container6 {
  width: 439.5px;
  position: relative;
  line-height: 21px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.link-facebook-link3,
.link-instagram-link6,
.link-instagram-link7 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.link-facebook-link3 {
  border-radius: 50px;
}
.link-instagram-link-container,
.logo-parent1,
.simul8-privacy-policy-terms-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.logo-parent1,
.simul8-privacy-policy-terms-parent1 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  font-size: 14px;
  color: #c1bca8;
}
.logo-parent1 {
  background-color: #000;
  flex-direction: column;
  justify-content: flex-start;
  padding: 64px 120px 28px;
  box-sizing: border-box;
  gap: 48px;
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1050px) {
  .simul87 {
    font-size: 38px;
    line-height: 42px;
  }
  .frame-parent432 {
    flex-wrap: wrap;
  }
  .logo-parent1 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .simul8-privacy-policy-terms-parent1 {
    flex-wrap: wrap;
  }
  .logo-parent1 {
    gap: 24px;
    padding: 42px 30px 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .simul87 {
    font-size: 29px;
    line-height: 32px;
  }
  .group-div {
    gap: 19px;
  }
  .frame-wrapper6 {
    gap: 43px;
  }
}
