.heading-33 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 700;
  font-family: inherit;
}
.are-you-planning1,
.connected-ive-got,
.need-to-know,
.top-dubai-esim {
  display: block;
}
.are-you-planning-container1 {
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  color: #777;
}
.article-inner4,
.heading-3-link-best-esim-f-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-3-link-best-esim-f-parent {
  flex: 1;
  flex-direction: column;
  gap: 25px;
}
.article-inner4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 19px 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 21px;
  color: #000;
  font-family: "Open Sans";
}
@media screen and (max-width: 450px) {
  .heading-33 {
    font-size: 17px;
    line-height: 17px;
  }
}
