.internet-1-icon {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: contain;
}
.simul8 {
  position: relative;
  line-height: 53px;
  font-weight: 700;
  white-space: nowrap;
}
.internet-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.item-link,
.item-link1 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  min-width: 46.6px;
}
.item-link1 {
  color: #000;
  min-width: 40.1px;
}
.item-link2 {
  display: inline-block;
  min-width: 107.2px;
  white-space: nowrap;
}
.item-link2,
.item-link3,
.item-link4 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.item-link3 {
  width: 48.5px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-link4 {
  display: inline-block;
  min-width: 68.4px;
  white-space: nowrap;
}
.nav-list {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12.5px 20px 13.5px;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: #3d3d3d;
  font-family: "Open Sans";
}
.container,
.header,
.nav-list-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-list-wrapper {
  margin: 0;
  width: 509.1px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3.5px 0 0;
}
.container,
.header {
  flex-direction: row;
}
.container {
  width: 1680px;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 20px;
}
.header {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
  padding: 13.5px 20px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: "DM Sans";
}
@media screen and (max-width: 750px) {
  .nav-list-wrapper {
    display: none;
  }
  .container {
    width: 1170.9000000000017px;
  }
}
