.best-esim-for-dubaiwebp-icon {
  align-self: stretch;
  height: 220px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-36 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.18px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.are-you-planning3,
.in-this-guide,
.the-best-esim {
  display: block;
}
.are-you-planning-container3 {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  display: inline-block;
  max-width: 106%;
  flex-shrink: 0;
}
.link8 {
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.1px 15px 54.8px 16px;
  box-sizing: border-box;
  gap: 31px;
  max-width: 100%;
  text-align: left;
  font-size: 24px;
  color: #2d4156;
  font-family: "Open Sans";
}
@media screen and (max-width: 450px) {
  .heading-36 {
    font-size: 19px;
    line-height: 25px;
  }
  .link8 {
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 36px;
    box-sizing: border-box;
  }
}
